body{
    margin: 0;
    padding: 0;
}
main{
	background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
	padding-bottom: 5%;
	box-shadow: inset 0 0 70px #000000;
}
/** Title wrapper **/
.t-wrapper{
	background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
	min-height: 10vh;
	position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    z-index: 99;
}
#title{
	font-family: 'Akronim', cursive;
	font-size: calc(100% + 25px);
}
.form-wrapper{
	position: relative;
}
#description{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: calc(60% + 10px);
}
/** Personal info sec **/
.p-list{
	list-style: none;
	display: contents;
}
.p-item{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: calc(60% + 15px);
}
form{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	text-align: center;
	margin-left: 4%;
	margin-right: 4%;
	background: white;
	padding-top: 10px;
	border-radius: 20px;
	box-shadow: 5px 5px 5px 10px rgba(0,0,0,0.4);
}
input[type="text"],input[type="email"],input[type="number"],label,option, textarea{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: calc(60% + 15px);
} 
input[type="text"],input[type="email"], input[type="number"]{
	min-width: 70%;
}
#dropdown{
	max-width: 200px;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: calc(60% + 15px);
}
.textarea-wrapper{
	display: contents;
}
#submit{
	background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
	border: 1px solid white;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: calc(60% + 15px);
}
/*
  ##Device = Desktops
*/

@media (min-width: 1281px) {
	.form-wrapper{
		padding-top: 10%;
	}
}

/*
##Device = Laptops, Desktops
*/

@media (min-width: 1025px) and (max-width: 1280px) {
	.form-wrapper{
		padding-top: 7%;
	}
}

/*
##Device = Tablets, Ipads (portrait)
*/

@media (min-width: 768px) and (max-width: 1024px) {
	.form-wrapper{
		padding-top: 7%;
	}
}

/*
##Device = Tablets, Ipads (landscape)
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.form-wrapper{
		padding-top: 10%;
	}
 
}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
*/

@media (min-width: 481px) and (max-width: 767px) {
	.form-wrapper{
		padding-top: 15%;
	}
  
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
*/

@media (max-width: 480px) {
	.form-wrapper{
		padding-top: 40%;
	}
  
}