body{
    margin: 0;
    padding: 0;
}
main{
	background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
/** Title wrapper **/
.t-wrapper{
	background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
	min-height: 10vh;
}
#title{
	font-family: 'Akronim', cursive;
	font-size: calc(100% + 30px);
}
#description{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: calc(60% + 10px);
}
/** Personal info sec **/
.p-list{
	list-style: none;
	display: contents;
}
form{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	text-align: center;
	margin-left: 4%;
	margin-right: 4%;
	background: white;
	padding-top: 10px;
	border-radius: 20px;
}
input[type="text"],input[type="email"],input[type="number"],label,option{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: calc(60% + 15px);
} 
input[type="text"],input[type="email"], input[type="number"]{
	min-width: 70%;
}
#dropdown{
	max-width: 200px;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: calc(60% + 15px);
}